BODY {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background: #FFF url("../images/bg/body-bg.gif") repeat left top;
}
A { text-decoration: none; }
A:HOVER { text-decoration: underline; }
A IMG { border: none; }
LABEL { cursor: pointer; }
BUTTON SPAN { display: none;}
H1, H2, H3, H4, H5, H6, P, FIELDSET, FORM, UL, OL, LI, DL, DT, DD {
	padding: 0;
	margin: 0;
}
UL { list-style: none; }
.relax {
	clear: both;
	height: 0;
	line-height: 0px;
	font-size: 1px;
}
#content H1, #content H2, #content H3, #content H4, #content H5, #content H6 { margin: 15px 0 0; }
#content P, #content UL, #content OL {
	font-size: 12px;
	color: #4a4a4a;
	margin-top: 15px;
}
@font-face {
    font-family: 'Century_Gothic';
    src: url('../fonts/GOTHIC.ttf') format('truetype');
        
}
#content UL, #content OL { margin-left: 15px; }
#content A { color: #ccc; }
#page {
   min-width: 1048px;
   overflow: hidden;
 //  background: url("../images/bg/header-bg.png") repeat-x left top;
  
}
.main {
	margin: auto;
   
    width: 1048px;
}
#mainImg {
	width: 700px;
	margin: 20px auto;
}
.list {
	margin: 40px auto;


}
.list LI {
	display: inline;
	margin: 10px;

}
@-moz-keyframes jiggle{from{-moz-transform:rotate(5deg)}to{-moz-transform:rotate(-5deg)}}
@-webkit-keyframes jiggle{from{-webkit-transform:rotate(5deg)}to{-webkit-transform:rotate(-5deg)}}
@keyframes jiggle{from{transform:rotate(5deg)}to{transform:rotate(-5deg)}}

.list LI IMG {
	position: relative;
}
.list LI IMG:hover{
	outline: 1px solid white;
	-webkit-transform-style:preserve-3d;
	-webkit-animation:jiggle 0.15s infinite 0.1s alternate ease-in-out;
	-moz-animation:jiggle 0.15s infinite 0.1s alternate ease-in-out;
	-ms-animation:jiggle 0.15s infinite 0.1s alternate ease-in-out;
	animation:jiggle 0.15s infinite 0.1s alternate ease-in-out;


}


